
body {
    font-size: 18px;
    padding: 20px;
  }
  
  @media (max-width: 600px) {
    body {
      font-size: 16px;
      padding: 10px;
    }
  
    .box {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    body {
      font-size: 17px;
    }
  
    .box {
      width: 45%;
      margin: 10px;
    }
  }
  

body{
    background-color:beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#title {
    text-align: center;

}
.box{
    height: 50px;
    width: 200px;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius:5px ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.655);

}
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
button:hover {
    background-color: #f2f2f2;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }


#Binary{
    background-color: rgb(125, 216, 130);
}
#Decimal{
    background-color:rgb(184, 203, 252)

}
#Octal{
    background-color: rgb(228, 180, 243);
}
#Hex{
    background-color: rgb(246, 200, 196);
}
#TOBinary{
    background-color: rgb(125, 216, 130);
}
#TODecimal{
    background-color:rgb(184, 203, 252)

}
#TOOctal{
    background-color: rgb(228, 180, 243);
}
#TOHex{
    background-color: rgb(246, 200, 196);
}
.number{
    display: flex;
    gap: 10px;
    margin-top: 70px;
    margin-bottom: 40px;
    justify-content: center;

}
.inputBox{
    height: 15px;
    width: 200px;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius:5px ;
    display: flex;
    justify-content: center;
    background-color: rgb(251, 253, 255);
    margin-top: 10px;
    font-size: 16px;
    
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.Convert{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius:5px ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.655);
    background-color:  rgb(251, 253, 255);

}
.selected {
    background-color: #4CAF50; 
    color: white;
    transform: scale(1.05);
    transition: background-color 0.2s, transform 0.1s;
  }
  
